// styles.scss
div.testing {
    display: flex;
    width: percentage(1/4);
    border: 1rem;
    border-color: blueviolet;
    border-style: solid;
    margin: 3px;
}

body {
    background: lightblue;
}